<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Url Shrinker</title>
</head>
<body>
    <div class="container">
        <h1 class="header my-4">Url Shrinker</h1>
        <form action="/shorturl" method="POST" class="my-4 form-inline">
            <label for="fullUrl" class="sr-only">Url</label>
            <input type="url" name="fullUrl" id="fullUrl" placeholder="Url" required class="form-control mr-2 col">
            <button class="btn btn-success" type="submit">Shrink</button>
        </form>
        <div class="table-mid">
            <table class="table table-striped table-responsive table-hover w-auto">
                <thead class="thead-dark">
                    <tr>
                        <th>Original Url</th>
                        <th>Short Url</th>
                        <th>Clicks</th>
                    </tr>
                </thead>
                <tbody>
                    <% shortUrls.forEach(shortUrl => {%>
                        <tr>
                            <td class="longUrl"><a href="<%= shortUrl.full %>" ><%= shortUrl.full %></a></td>
                            <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
                            <td><%= shortUrl.clicks %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <footer class="footer">
            <div class="container">
              <span class="text-muted">Note: Refresh page to get number of clicks after clicking short Url</span>
            </div>
        </footer>
    </div>
    <style>
        .header{
            margin:20px;
            text-align: center;
        }
        
        table, th, td{
            text-align: center;
        }
        /* table{
            margin: auto !important;
            margin-left: 100px;
        } */

        .longUrl{
            word-break: break-word;
        }
        #fullUrl{
            width:50%;
        }
        .footer {
            position: absolute;
            bottom: 0;
            line-height: 25px;
            background-color: #f5f5f5;
            width: 70%;
            text-align: center;
            padding: 20px 0;
        }
        @media screen and (max-width: 500px) {
           .footer {
                position: relative;
                width: 95%;
            }
        }
    </style>
</body>
</html>